[submodule "ios-common"]
	path = ios/common
	url = git@github.com:globalhealthmonitor/background-geolocation-ios.git
[submodule "android-common"]
	path = android/common
	url = git@github.com:globalhealthmonitor/background-geolocation-android.git
